<h2>Users</h2>

<% @users.each do |user|%>
	<%= user.nickname %>
	<%= user.firstname %>
	<%= user.lastname %>
<% end %>

<h2>Admins</h2>

<% @admins.each do |admin|%>
	<%= admin.nickname %>
	<%= admin.firstname %>
	<%= admin.lastname %>
<% end %>