<h2>Admins</h2>

<%= form_tag admins_path, :method => 'get', :id => 'users_search', :class=>"form-group" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', :class=>"btn btn-primary" %>
  </p>
 <div id='admins' data-update-url='<%= sort_admins_path %>'><%= render 'admins' %></div>
<% end %>