<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-condensed">
	<thead>
		<tr>
			<th><%= sortable "nickname" %></th>
			<th><%= sortable "firstname" %></th>
			<th><%= sortable "lastname" %></th>
			<th><%= sortable "email" %></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user|%>
			<%= content_tag_for :tr, user do %>
				<tr>
				<td><%= user.nickname %></td>
				<td><%= user.firstname %></td>
				<td><%= user.lastname %></td>
				<td><%= user.email %></td>
				<% if can? :edit, user %>
				<td>
				<%= link_to "Edit", edit_user_path(user), remote: true, :class=>"btn, btn-primary" %>
				</td>
				<% end %>
				<% if can? :destroy, user %>
				<td>
				<%= link_to "Destroy", user, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn, btn-danger", :id =>"destroy_user" %>
				</td>
				<% end %>	
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<%= paginate @users %><br>
<%= link_to "List of Admins", admins_path %>
