<p>
  <strong>Name:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user), remote: true %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>