<header class="navbar navbar-default navbar-fixed-top navbar-inverse", role="navigation">
    <div class="container">
      <%= link_to "Pikachu", root_path, id: "logo" %>
      <nav>
        <ul class="nav nav-pills navbar-right">
           <li><%= link_to "Users", users_path %></li>
           <li><%= link_to "Admins", admins_path %></li>
           <% if current_admin %>
              <li class="navbar-text"><%= "Welcome, #{current_admin.nickname}"%></li>
              <li><%= link_to "Exit", signout_path %></li>
           <% elsif current_user %>
              <li class="navbar-text"><%= "Welcome, #{current_user.nickname}"%></li>
              <li><%= link_to "Exit", signout_path %></li>  
           <% else %>
              <li><%= link_to "Register", register_path %></li>
              <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
        </ul>
      </nav>
    </div>
</header>
